body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

th, td{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
tr{
    background-color: white;
}
th{
    background-color: rgb(199, 233, 199);
    min-width: 150px;
}

.th_btn{
padding: 0px;
}

#header{
    text-align: center;
    background-color: rgb(199, 233, 199);
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

.sensor{
    background-color: black;
    width: 450px;
    justify-content: center;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
}

#sensors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

button{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 18px;
}

#add{
    width: 70px;
    height: 70px;
    margin: 20px;
    right: 0px;
    position: absolute;
    bottom: 0px;
}

#add > button{
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px 2px;
    border-radius: 100%;
}