.btn-filter-margin{
    margin: 10px;
    margin-right: 30px;
}

.navbar-heading{
    margin: 10px;
    margin-left: 30px;
}

.navbar{
    background-color: #e7f1ff !important;
}

.margin-top-20{
    margin-top: 20px;
}

.card{
    border-radius: 0px !important;
}

.margin-lr-10px{
    margin-left: 10px;
    margin-right: 10px;
}

.w150px{
    width: 150px !important;
}

.align-center{
    align-items: center;
}

.btn-align-right{
    text-align: right;
}

.filter-container{
    display: flex;
    flex-direction: row;
}

@media (max-width: 565px) {
    .filter-container{
        flex-direction: column;
    }
    .col-2{
        width: auto !important;
        margin-bottom: 10px;
    }
    tr{
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 10px;
    }
    table{
        margin: auto;
    }
    td{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1000px){
    
}

/*body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

th, td{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}
tr{
    background-color: white;
}
th{
    background-color: rgb(130, 195, 130);
    min-width: 150px;
}

.margin-top-20{
    margin-top: 20px;
}

h1{
    margin-bottom: 0px;
}

h3{
    margin-top: 0px;
}

/*table{
    width: 450px;
}*/
/*
.noPadding{
padding: 0px;
}

#header{
    text-align: center;
    background-color: rgb(130, 195, 130);
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.sensor{
    background-color: black;
    justify-content: center;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
}

#sensor_area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.level_fit{
    width: 215px;
    border: none;
    padding-left: 10px;
    background-color: rgb(225, 225, 225);
}

.watering_time_fit{
    width: 204px;
    border: none;
    padding-left: 13px;
    background-color: rgb(225, 225, 225);
}

.background_color_225{
    background-color: rgb(225, 225, 225);
}

.save_btn{
    width: 100%;
    padding: 3px;
}



@media (max-width: 767px) {
    table{
        width: auto;
    }
    .watering_time_fit{
        width: 90%;
        padding-left: 3px;
    }
    .level_fit{
        width: 95%;
        padding-left: 0px;
    }
    td{
        padding-left: 5px;
        padding-right: 5px;
    }
    th{
        min-width: 100px;
    }
    .sensor{
        font-size: 12px;
    }
}
*/