body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

th, td{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
tr{
    background-color: white;
}
th{
    background-color: rgb(130, 195, 130);
    min-width: 150px;
}

h1{
    margin-bottom: 0px;
}

h3{
    margin-top: 0px;
}

table{
    width: 450px;
}

.noPadding{
padding: 0px;
}

#header{
    text-align: center;
    background-color: rgb(130, 195, 130);
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.sensor{
    background-color: black;
    justify-content: center;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
}

#sensor_area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.level_fit{
    width: 215px;
    border: none;
    padding-left: 10px;
    background-color: rgb(225, 225, 225);
}

.watering_time_fit{
    width: 204px;
    border: none;
    padding-left: 13px;
    background-color: rgb(225, 225, 225);
}

.background_color_225{
    background-color: rgb(225, 225, 225);
}

@media (max-width: 767px) {
    table{
        width: auto;
    }
    .watering_time_fit{
        width: 90%;
    }
    .level_fit{
        width: 95%;
    }
    .sensor{
        font-size: 14px;
    }
}
