/*Dark mode ---------------------------------------------------------*/
:root {
    --background: #202124;
    --header: #171717;
    --button: #303234;
    --border: #5d6065;
    --accordion-inner: #414448;
    --font: #c8ccd1;
    --details: 0 0 0 0.15rem rgba(138, 255, 49, 0.20);
    --details-border: #a6f4a6;
}

.accordion-button{
    background-color: var(--button) !important;
}

.accordion-header button{
    font-weight: 700 !important;
    color: var(--font) !important;
}

.accordion-item{
    color: var(--button) !important;
    border-color: var(--border) !important;
    background-color: var(--background) !important;
}

.accordion-button:not(.collapsed)::after {
    filter: invert(100%);
}

.accordion-button::after {
    filter: invert(100%);
}

.accordion-body{
    background-color: var(--accordion-inner);
}

.accordion-button:focus {
    box-shadow: var(--details) !important;
}

.form-control{
    color: var(--font) !important;
    background-color: var(--accordion-inner) !important;
}

.form-control:focus {
    border-color: var(--details-border) !important;
    box-shadow: var(--details) !important;
}

tbody{
    color: var(--font);
}

.card-body{
    background-color: var(--accordion-inner) !important;
    color: var(--font) !important;
}

body{
    background-color: var(--background) !important;
}

.btn-primary{
    background-color: var(--button) !important;
    border-color: var(--button) !important;
    color: var(--font) !important;
}

.navbar{
    /*background-color: #e7f1ff !important;*/
    background-color: var(--header);
}

.navbar-brand{
    color: var(--font) !important;
}

/*Animations & detail color ---------------------------------------------------------*/
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}

/*Alert ---------------------------------------------------------*/
.alert{
    color: white !important;
    text-align: center;
    background-color: red !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 5px !important;
    display: none;
}

.alert-warning{
    display: block;
}

/*Sizes, boarders, alignments ---------------------------------------------------------*/
table{
    width: 100%;
}

#filter-left{
    height: 100%;
    width: 100%;
    background-color: var(--accordion-inner);
}

.btn-filter-margin{
    margin: 10px;
    margin-right: 30px;
}

.navbar-heading{
    margin: 10px;
    margin-left: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

.card{
    border-radius: 0px !important;
}

.margin-lr-10px{
    margin-left: 10px;
    margin-right: 10px;
}

.w150px{
    width: 150px !important;
}

.w50px{
    width: 50px !important;
}

.input-group{
    align-items: center !important;
}

.pad_lr_15px{
    padding-left: 15px;
    padding-right: 15px;
}

.align-center{
    align-items: center;
}

.btn-align-right{
    text-align: right;
}

.filter-container{
    display: flex;
    flex-direction: row;
}

.spacing-right{
    margin-left: -2px;
}

.border-radius-right{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.border-radius-left{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

#time_control_flex{
    display: flex;
    align-items: center;
}

#time_control{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

@media (max-width: 565px) {
    .filter-container{
        flex-direction: column;
    }

    .col-2{
        width: auto !important;
        margin-bottom: 10px;
    }

    tr{
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 10px;
    }

    table{
        margin: auto;
    }

    td{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    hr{
        width: 100%;
    }

    .navbar {
        justify-content: center !important;
    }

    .btn-filter-margin{
        margin: 10px;
    }

    .navbar-heading {
        margin: 10px;
    }

    .spacing-right{
        display: none;
    }
}